{% extends 'base.html' %}

{% block title %}
  CRUD || VIEW
{% endblock title %}
  

{% block content %}
<div class="content">
  <h4>DJANGO IMPLEMENTATION OF CRUD OPERATIONS</h4>
  <a href="{% url 'register' %}">
  <button class="btn btn-primary">Add New</button>
</a>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone Number</th>
      <th>Course</th>
      <th>Gender</th>
      <th>Remarks</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for student in record %}
    <tr>
    <th>{{ student.id }}</th>
    <td>{{ student.first_name }}</td>
    <td>{{ student.last_name }}</td>
    <td>{{ student.phone }}</td>
    <td>{{ student.course }}</td>
    <td>{{ student.gender }}</td>
    <td>{{ student.remarks }}</td>
    <td>
      <span>
      <a href="{% url 'update' student.id %}">Edit</a>
      <a href="{% url 'delete' student.id %}">Delete</a>
    </span>
  </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endblock content %}
  